button {
  justify-content: center;
  transition: all 0.3s linear;
  border-radius: 10px;
  border: 2px solid white;
}

button > svg {
  margin-left: 5px;
  transition: all 0.4s ease-in;
}

button:hover > svg {
  font-size: 1.2em;
  transform: translateX(6px);
}
